# Byte-compiled / optimized / DLL files
__pycache__/
*.pyc
*.pyo
*.pyd

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# Flask
instance/
.webassets-cache

# dotenv
.env

# Spyder project settings
.spyderproject
.spyproject

# Rope project settings
.ropeproject

# VSCode settings
.vscode/

# Jupyter Notebook
.ipynb_checkpoints/

# pyenv
.python-version

# env
env/
venv/
ENV/

# Logs
*.log

# IDE files
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

